*{
  box-sizing: border-box;
}

#TicTacTable {
  width: 70vw;
  height: 70vh;
  position: relative;
  margin: 10vh auto;
}
  
.TicTac{
  position: relative;
  width: 20vw;
  height: 20vw;
  float: left;
  border: 1vw solid black;
  background-color: white;
}
.TicTac div{ 
  posiition: Absolute;
  width: 100%;
  height: 100%;
}
.clicked .Player1{ /*Player 1 Places the "X"*/ 
  background-image: url(images/target-arrows.png);
  background-size: cover;
} 
.clicked .Player2{ /* Player 2 Places the "O"*/
  background-image: url(images/target-poster.png);
  background-size: cover;
}

.TicTac .MatchedRow div {
  border: 1vw solid red;
}
